@import 'https://fonts.googleapis.com/css?family=Roboto';

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #3F8AE0;
    padding-top: 40px;
}

.container {
    /*background-color: red;*/
    margin: 0 auto;
    width: 400px;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

header img {
    height: 75px;
}

main {
    background-color: white;
    padding: 20px 40px 40px;
    border-radius: 3px;
}

.login-label {
    display: block;
    color: #45495D;
    text-align: center;
}

form {
    margin-bottom: 8px;
}

form fieldset {
    border-style: none;
    padding: 0;
    margin: 0;
}

form fieldset label {
    padding-top: 20px;
    padding-bottom: 20px;
}

form fieldset input {
    border: #E4E4E4 solid 2px;
    border-radius: 2px;
    background-color: #FCFCFC;
    font-weight: 600;
}

form fieldset label, input {
    display: block;
}

form button {
    margin-top: 20px;
    color: white;
    background-color: #5DBE6A;
    border: 2px solid #5DBE6A;
    border-radius: 2px;
    font-size: 22px;
    font-weight: 600;
    line-height: 22px;
}

form button:hover {
    background-color: #41a44f;
}

form button, input {
    width: 320px;
    padding: 15px;
    height: 55px;
}

.forgot-password {
    color: #909090;
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}

footer {
    display: block;
}

footer span {
    padding-top: 20px;
    display: block;
    text-align: center;
    color: white;
    font-weight: 600;
}

footer span a {
    color: white;
}